		</div><!-- #contents -->

		<div id="footer">
			<div>

				<h2>Buy My Book</h2>
				<a class="cta" href="https://www.valadria.com/how-to-make-a-video-game-all-by-yourself/"><img alt="How to Make a Video Game All By Yourself" src="/media/images/post/how-to-make-a-video-game-all-by-yourself/title.png"></a>

				<h2>More Matt</h2>
				<ul>
					<li><a href="https://www.valadria.com/make-the-game/">Podcast</a></li>
					<li><a href="https://www.valadria.com/">Company</a></li>
					<li><a href="https://www.gamedeveloper.com/author/matt-hackett">Game Developer articles</a></li>
					<li><a href="https://github.com/richtaur">GitHub projects</a></li>
					<li>Oldschool demos: <a href="/demos/bats">bats</a>, <a href="/demos/QBASIC">QBASIC</a>, <a href="/demos/spacius">Spacius!</a></li>
					<li><a href="https://twitter.com/richtaur">@richtaur</a></li>
					<li><a href="/rss.xml">RSS</a></li>
				</ul>

				<h2>Designs by Year</h2>
				<ul>
					<li><a href="/2018/">2018: Worse Blog</a></li>
					<li><a href="/2017/">2017: Blog</a></li>
					<li><a href="/2016/">2016: Hire Me</a></li>
					<li><a href="/2013/">2013: Domain Squatter</a></li>
					<li><a href="/2010/">2010: Retro Modules</a></li>
				</ul>

				<p>
					v7.0.2 &copy; Matt Hackett 2024
				</p>
			</div>
		</div><!-- /footer -->

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<!--
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-27284870-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-27284870-1');
		</script>
		-->

		<script src="/richtaur.js"></script>
	</body>
</html>