
		</div>

		<div id="footer">
			<!--<a href="/rss.xml">RSS</a> &bull;-->
			<a href="https://twitter.com/richtaur">Twitter</a> &bull;
			<a href="https://github.com/richtaur">GitHub</a> &bull;
			<a href="/2010/">2010</a> &bull;
			<a href="/2013/">2013</a> &bull;
			<a href="/2016/">2016</a> &bull;
			v0.1
		</div>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-27284870-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-27284870-1');
		</script>

	</body>
</html>
