<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Matt Hackett">
		<meta name="twitter:site" content="@richtaur">
		<meta name="twitter:card" content="summary">

		{{# if this.title}}
		<title>{{this.title}} | {{siteName}}</title>
		<meta name="twitter:title" content="{{this.title}} | {{siteName}}">
		<meta name="description" content="{{this.summary}}">
		<meta name="twitter:description" content="{{this.summary}}">
		<meta name="twitter:image" content="{{this.url}}media/images/{{this.path}}/_title.png">
		{{else}}
		<title>{{siteName}}</title>
		<meta name="twitter:title" content="{{siteName}}">
		<meta name="description" content="{{description}}">
		<meta name="twitter:description" content="{{description}}">
		<meta name="twitter:image" content="https://i.imgur.com/KbQ8x7A.png">
		{{/if}}

		<link href="/media/richtaur.css" rel="stylesheet">
		<link rel="alternate" type="application/rss+xml" title="RSS feed for {{siteName}}" href="{{url}}rss.xml">
		<link rel="icon" href="/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700" rel="stylesheet">
	</head>
	<body>

		<div id="header">
			<h1><a href="/">{{siteName}}</a></h1>
			<p>games and art</p>
		</div>

		{{# if this.large}}
			<div class="contents" id="contents-large">
		{{else}}
			<div class="contents" id="contents">
		{{/if}}
