<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Matt Hackett">

		{{# if this.title}}
		<title>{{this.title}} | {{siteName}}</title>
		{{else}}
		<title>{{siteName}}</title>
		{{/if}}

		{{# if this.summary}}
		<meta name="description" content="{{this.summary}}">
		{{else}}
		<meta name="description" content="{{description}}">
		{{/if}}

		<!-- Twitter card -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@richtaur">
		<meta name="twitter:title" content="{{siteName}}">
		{{# if this.summary}}
		<meta name="twitter:description" content="{{this.summary}}">
		{{else}}
		<meta name="twitter:description" content="{{description}}">
		{{/if}}
		<meta name="twitter:image" content="https://i.imgur.com/KbQ8x7A.png">

		<!-- Links -->
		<link href="/media/richtaur.css" rel="stylesheet">
		<link rel="alternate" type="application/rss+xml" title="RSS feed for {{siteName}}" href="{{url}}rss.xml">
		<link rel="icon" href="/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700" rel="stylesheet">
	</head>
	<body>

		<div id="header">
			<h1><a href="/">{{siteName}}</a></h1>
			<p>games and art</p>
		</div>

		{{# if this.large}}
			<div class="contents" id="contents-large">
		{{else}}
			<div class="contents" id="contents">
		{{/if}}
