<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Matt Hackett">
		<meta name="twitter:site" content="@richtaur">
		<meta name="twitter:card" content="summary">
		<meta property="og:type" content="website">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{# if this.title}}
		<title>{{this.title}} | {{siteName}}</title>
		<meta name="twitter:title" content="{{this.title}} | {{siteName}}">
		<meta property="og:title" content="{{this.title}} | {{siteName}}">
		<meta name="description" content="{{this.summary}}">
		<meta name="twitter:description" content="{{this.summary}}">
		<meta property="og:description" content="{{this.summary}}">
		{{else}}
		<title>{{siteName}}</title>
		<meta name="twitter:title" content="{{siteName}}">
		<meta property="og:title" content="{{siteName}}">
		<meta name="description" content="{{description}}">
		<meta name="twitter:description" content="{{description}}">
		<meta property="og:description" content="{{description}}">
		{{/if}}

		{{# if this.image}}
		<meta name="twitter:image" content="{{this.url}}media/images/{{this.path}}/{{this.image}}">
		<meta property="og:image" content="{{this.url}}media/images/{{this.path}}/{{this.image}}">
		{{else}}
		<meta name="twitter:image" content="https://i.imgur.com/KbQ8x7A.png">
		<meta property="og:image" content="https://i.imgur.com/KbQ8x7A.png">
		{{/if}}

		<link href="/media/richtaur.css?45" rel="stylesheet">
		<link rel="alternate" type="application/rss+xml" title="RSS feed for {{siteName}}" href="{{url}}rss.xml">
		<link rel="icon" href="/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700" rel="stylesheet">
	</head>
	<body>

		<div id="header">
			<div>
				<h1><a href="/">Matt Hackett</a></h1>
				<p id="subtitle">game developer</p>
			</div>

			<!--
			<ul>
				<li><a href="https://twitter.com/richtaur">@richtaur</a></li>
				<li><a href="https://www.gamasutra.com/blogs/MattHackett/876382/">Gamasutra</a></li>
				<li><a href="https://github.com/richtaur">GitHub</a></li>
				<li><a href="https://www.deviantart.com/richtaur/gallery/">DeviantArt</a></li>
				<li><a href="/rss.xml">RSS</a></li>
			</ul>
			-->
		</div>

		{{# if this.width}}
		<div id="contents" class="contents contents-{{this.width}}">
		{{else}}
		<div id="contents" class="contents">
		{{/if}}
