{{> header}}

<div class="post">
	<h2>{{this.title}}</h2>

	<div class="post-contents">
		{{{contents}}}
	</div>

	<div class="post-footer">
		<ul class="share">
			<li><a class="in" href="http://www.linkedin.com/shareArticle?url={{this.url}}{{this.path}}/&title={{this.title}}&source={{this.url}}&mini=true">linkedin</a></li>
			<li><a class="fb" href="http://www.facebook.com/sharer/sharer.php?u={{this.url}}{{this.path}}/&title={{this.title}}">Facebook</a></li>
			<li><a class="tw" href="http://twitter.com/intent/tweet?status={{this.title}}+{{this.url}}{{this.path}}/">Twitter</a></li>
		</ul>
		<span class="date">{{formatDate this.date}}</span>
	</div>

	<div id="nav">
		{{#if this.next.path}}
		<p class="prev">
			<a href="../../{{this.next.path}}">&lt; {{this.next.title}}</a>
		</p>
		{{/if}}

		{{#if this.previous.path }}
		<p class="next">
			<a href="../../{{this.previous.path}}">{{this.previous.title}} &gt;</a>
		</p>
		{{/if}}
	</div>
</div>

{{> footer}}
