{{> header}}

<div class="post">
	<h2>{{this.title}}</h2>
	<p class="date">{{formatDate this.date}}</p>
	<img alt="{{title}}" src="/media/images/{{this.path}}/_title.png">

	<div class="post-contents">
		{{{contents}}}
	</div>
</div>

<div id="nav">
	{{#if this.next.path}}
	<p class="prev">
		<a href="../../{{this.next.path}}">&lt; {{this.next.title}}</a>
	</p>
	{{/if}}

	{{#if this.previous.path }}
	<p class="next">
		<a href="../../{{this.previous.path}}">{{this.previous.title}} &gt;</a>
	</p>
	{{/if}}
</div>

{{> footer}}
