{{> header}}

<div class="post">
	<img alt="{{title}}" src="/media/images/{{this.image}}">
	<h2>{{this.title}}</h2>
	<p class="date">{{formatDate this.date}}</p>

	<div class="post-contents">
		{{{contents}}}
	</div>
</div>

<div id="nav">
	{{#if this.previous.path}}
	<p class="prev">
		<a href="../../{{this.previous.path}}">&lt; {{this.previous.title}}</a>
	</p>
	{{/if}}

	{{#if this.next.path }}
	<p class="next">
		<a href="../../{{this.next.path}}">{{this.next.title}} &gt;</a>
	</p>
	{{/if}}
</div>

{{> footer}}
