/*
@font-face {
	font-family: "EB Garamond";
	src: url("EBGaramond-VariableFont_wght.ttf");
}
*/

body {
	font-family: Merriweather, Open Sans;
}

a {
	color: rgb(210, 125, 44); /* orange */
}

a:hover {
	color: rgb(89, 125, 206); /* blue */
}

/* Float-right approach */
/*
.bio {
	display: flow-root;
}

.bio img {
	float: right;
	margin-left: 2em;
	max-height: 10em;
}
*/

.bio {
	display: flex;

	flex-flow: row wrap;
	justify-content: space-around;
}

.bio > * {
	flex: 1;
}

.bio p {
	margin-right: 2em;
}

.bio img {
	max-width: 10em;
	height: auto;
	flex-shrink: 0;
	flex-grow: 0;
}

.figure-grid {
	display: flex; /* initial: block */
	justify-content: space-around; /* the main axis */
	align-content: center; /* the cross axis */

	/* identical to flex-flow: row wrap */
	flex-direction: row; /* initial */
	flex-wrap: wrap; /* initial: nowrap */
}

.figure-grid figure {
	background: rgb(0, 0, 0);
	color: white;
	border-radius: 1em;

	margin: 0 0 2em 0;
	padding: 1em;

	/* shorthand for flex-grow: 0, flex-shrink: 1, flex-basis: 0% */
	flex: 0; /* initial: auto */

	transition:
		transform 0.4s ease-in-out,
		scale 0.4s ease-in-out;
}

.figure-grid figure:hover {
	transform: rotate(-2.5deg);
	scale: 105%;
}