html, body, h1, h2, p, ul, li {
	font-family: "Open Sans", Sans-Serif;
	font-size: 16px;

	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: "Merriweather", Sans-Serif;
	font-size: 200%;
}

h1 a {
	color: rgb(20, 12, 28); /* black */
	margin-left: 1em;
	text-decoration: none;
}

h1 a:hover {
	color: rgb(210, 125, 44); /* orange */
}

a {
	color: rgb(210, 125, 44); /* orange */
}

a:hover {
	//color: rgb(48, 52, 109); /* dark blue */
	color: rgb(89, 125, 206); /* blue */
}

body {
	color: rgb(20, 12, 28); /* black */
}

#sidebar {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 320px;
	border-right: 2px solid black;
}

#sidebar-content {
	clear: both;
	padding: 2em;
	text-align: left;
}

#sidebar-content h2 {
	font-size: 150%;
	margin-bottom: 0.5em;
}

#sidebar-content ul {
	margin-bottom: 2em;
}

#sidebar-content ul li {
	line-height: 1.5em;
}

#header {
	background: url(images/richtaur64.jpg) no-repeat left center;
	margin: 0 2em;
	padding: 2em 0;
	text-align: center;
}

#header p {
	margin-left: 1em;
}

#contents {
	margin-left: 320px;
	width: calc(100% - 320px);
}

.post .date {
	border-top: 1px solid rgb(20, 12, 28); /* black */
	//color: rgb(78, 74, 78); /* gray */
	font-size: 75%;
	font-weight: bold;
	text-transform: uppercase;
}

.list-item {
	margin: auto;
	min-height: 144px;
	text-align: left;
	margin-bottom: 4em;
}

.list-item .thumbnail {
	float: left;
	margin-right: 2em;
	width: 256px;
	height: 144px;
}

.list-item .thumbnail {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.list-item .thumbnail:hover {
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.post {
	margin: 2em 4em;
	width: 512px;
	//width: 600px;
}

.contents-600 .post {
	width: 600px;
}

.contents-640 .post {
	width: 640px;
}

.contents-1000 .post {
	width: 1000px;
}

div.post h2 {
	margin-bottom: 1em;
}

div.post h3 {
	margin-bottom: 1em;
	margin-top: 1em;
}

div.post p {
	margin-bottom: 1em;
}

.post-contents {
	margin-bottom: 2em;
}

#nav {
	margin-top: 2em;
	min-height: 160px;
	padding-top: 1.5em;
}

#nav a {
	background: rgb(210, 125, 44); /* orange */
	border-radius: 1em;
	color: white;
	padding: 0.5em 1em;
	text-decoration: none;
}

#nav a:hover {
	background: rgb(89, 125, 206); /* blue */
}

#nav .prev {
	float: left;
}

#nav .next {
	float: right;
}
