html, body, h1, h2, p, ul, li {
	font-family: "Open Sans", Sans-Serif;
	font-size: 16px;

	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: "Merriweather", Sans-Serif;
	font-size: 200%;
}

h2 {
	color: rgb(89, 125, 206); /* blue */
	font-size: 200%;
	line-height: 1.25em;
}

a {
	color: rgb(89, 125, 206); /* blue */
}

a:hover {
	color: rgb(48, 52, 109); /* dark blue */
}

body {
	color: rgb(20, 12, 28); /* black */
	text-align: center;
}

#header {
}

#header p a {
}

#header p a:hover {
}

h1 {
	margin-top: 1em;
}

h1 a {
}

#contents {
	margin: auto;
	text-align: center;
}

.date {
	color: rgb(78, 74, 78); /* gray */
	font-size: 75%;
}

h2.post {
	font-size: 400%;
}

div.post {
	margin: auto;
	margin-bottom: 2em;
	text-align: left;

	padding: 2em;
	width: 400px;
}

div.post img {
	/*
	float: left;
	margin-right: 2em;
	margin-bottom: 2em;
	*/
}

div.post img:hover {
}

div.post .date {
	margin-bottom: 1em;
}

.post-contents {
	margin-bottom: 1em;
}

#nav {
	clear: both;
	margin-bottom: 1em;
	min-height: 1em;
}

#nav .prev {
	float: left;
}

#nav .next {
	float: right;
}
